@font-face {
  font-family: "NunitoRegular";
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "NunitoLight";
  src: url("../fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/Raleway-Light.ttf");
}
.white {
  color: #fff;
}
.dark {
  color: #001021;
}
.light-bg {
  color: #1B2838;
}
.text-align-center {
  text-align: center;
}
.non-dec {
  text-decoration: none;
}
.footer-item-color {
  color: rgba(255, 255, 255, 0.7);
}
.db-light {
  color: #B2B7BC;
}
b {
  font-family: 'NunitoRegular';
  font-size: 14px;
  font-weight: 400;
}
b.sitename {
  font-size: 16px;
}
small {
  font-size: 13px;
  font-family: 'RalewayLight';
}
h1,
h2,
h3,
h4,
.h4-like {
  font-family: NunitoLight;
  font-size: 28px;
  font-weight: 400;
}
h4,
.h4-like {
  font-size: 18px;
}
p,
.p-like,
li {
  font-size: 14px;
  line-height: 27px;
  font-family: RalewayLight;
}
h3,
.h3-like {
  font-size: 21px;
  font-family: 'NunitoRegular';
  font-weight: 400;
}
.to-accent {
  transition: 0.4s;
}
.to-accent:hover {
  color: #B10640;
}
button.dashboard {
  font-family: RalewayLight;
  font-size: 14px;
  padding: 10px 35px;
  border-radius: 10px;
  color: #fff;
  position: relative;
}
button.dashboard + button.dashboard {
  margin-left: 15px;
}
@media (max-width: 420px) {
  button.dashboard + button.dashboard {
    margin-left: 0;
  }
}
button.dashboard::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: black;
  opacity: 0.3;
  border-radius: 10px;
}
button.dashboard:hover::before {
  border-radius: 10px !important;
}
button.dashboard.bright {
  background: linear-gradient(138deg, #b10640 0%, #b10661 100%);
}
button.dashboard.blue {
  background: linear-gradient(138deg, #0645b1 0%, #0688b1 100%);
}
button.dashboard.regular {
  background: linear-gradient(138deg, #001021 0%, #2a323a 100%);
}
button {
  font-family: RalewayLight;
  font-size: 14px;
  border: 0;
  outline: none;
  padding: 12px 19px;
  transition: 0.4s;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}
button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 100px 100px 0;
  transition: 0.4s;
  transform-origin: left;
  transform: scaleX(0);
}
button + button {
  margin-left: 10px;
}
button span {
  position: relative;
}
button:hover::before {
  transform: scaleX(1);
  border-radius: 0;
}
button.red-button {
  background: #B10640;
  color: #fff;
}
button.red-button::before {
  background: #fff;
}
button.red-button:hover {
  box-shadow: 3px 5px 16px 0px rgba(255, 255, 255, 0.6);
  color: #B10640;
}
button.white-button {
  background: #fff;
  color: #000;
}
button.white-button::before {
  background: #000;
}
button.white-button:hover {
  box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.6);
  color: #fff;
}
button.black-button {
  background: #000;
  color: #fff;
}
button.black-button::before {
  background: #B10640;
}
button.black-button:hover {
  box-shadow: 3px 1px 12px 0px rgba(177, 6, 64, 0.31);
}
input[type='text'],
input[type='password'],
select {
  width: 206px;
  background: transparent;
  outline: none;
  border: 0;
  border-bottom: 1px solid;
  padding: 8px 4px;
  font-family: RalewayLight;
  font-size: 14px;
}
@media (max-width: 1024px) {
  input[type='text'],
  input[type='password'],
  select {
    width: 170px;
  }
}
@media (max-width: 380px) {
  input[type='text'],
  input[type='password'],
  select {
    width: 140px;
  }
}
input[type='text'].white,
input[type='password'].white,
select.white {
  border-color: #fff;
}
input[type='text'].dark,
input[type='password'].dark,
select.dark {
  border-color: #001021;
}
input[type='text']:focus + label,
input[type='password']:focus + label,
select:focus + label,
input[type='text']:not(:placeholder-shown) + label,
input[type='password']:not(:placeholder-shown) + label,
select:not(:placeholder-shown) + label {
  transform: translateY(-17px);
  font-size: 10px;
  opacity: 1;
}
select {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 6px 4px;
  width: 216px;
}
@media (max-width: 1024px) {
  select {
    width: 160px;
  }
}
label {
  opacity: 0.7;
  font-family: RalewayLight;
  font-size: 14px;
  position: relative;
  bottom: 24px;
  height: 15px;
  left: 2px;
  display: block;
  transition: 0.4s;
}
form {
  margin: 25px 0;
}
.forgot-password-text {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
}
* {
  margin: 0;
  padding: 0;
}
.dashboard-warapper {
  display: flex;
}
@media (max-width: 800px) {
  .dashboard-warapper {
    flex-direction: column;
  }
}
.sidebar-wrapper {
  width: 240px;
}
@media (max-width: 800px) {
  .sidebar-wrapper {
    width: 100%;
  }
}
.sidebar-container {
  width: 240px;
  height: 100vh;
  position: fixed;
  padding: 20px 0 0 25px;
  box-sizing: border-box;
  left: 0;
  top: 0;
  background: #001021;
  background: linear-gradient(138deg, #001021 0%, #2a323a 100%);
}
.sidebar-container.enabled {
  position: fixed;
  z-index: 1800;
}
@media (max-width: 800px) {
  .sidebar-container {
    position: absolute;
    height: 55px;
    left: 5%;
    overflow: hidden;
    width: 90%;
    top: 20px;
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}
.sidebar-title {
  position: relative;
  bottom: 2px;
  padding-left: 10px;
  font-size: 18px;
}
@media (max-width: 400px) {
  .sidebar-title {
    font-size: 14px;
  }
}
.menu-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .menu-wrapper {
    position: absolute;
    right: 20px;
    top: -5px;
    z-index:10;
  }
}
.menu-wrapper:hover span {
  color: #B10640;
  transition: 0.4s;
}
.menu-wrapper:hover .menu-container .menu-item {
  background: #B10640;
}
.menu-wrapper .menu-container {
  width: 21px;
  margin-right: 10px;
  padding-bottom: 4px;
}
.menu-wrapper .menu-container .menu-item {
  height: 1px;
  width: 100%;
  background: #fff;
  margin-top: 4px;
  transition: 0.4s;
}
.menu-wrapper .menu-container .menu-item:last-of-type {
  width: 50%;
}
.main-menu-container {
  margin-top: 20px;
}
.main-menu-container li {
  display: flex;
  align-items: center;
  padding: 12px 0;
  margin-top: 8px;
  position: relative;
}
.main-menu-container li path {
  fill: #fff;
  transition: 0.4s;
  transition-delay: 0.2s;
}
.main-menu-container li span {
  opacity: 0.3;
  transition: 0.4s;
  transition-delay: 0.2s;
}
.main-menu-container li a {
  transition: 0.4s;
  transition-delay: 0.2s;
}
.main-menu-container li .menu-item-icon {
  display: block;
  width: 50px;
  position: relative;
  top: 3px;
}
.main-menu-container li::before {
  content: "";
  width: 108%;
  border-radius: 20px 0 0 20px;
  height: 100%;
  right: 0;
  top: 0;
  background: #F8F8F8;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.4s;
}
.main-menu-container li.active::before {
  transform: scaleX(1);
}
.main-menu-container li.active path {
  fill: #001021;
}
.main-menu-container li.active span {
  opacity: 0.999;
}
.main-menu-container li.active a {
  color: #001021 !important;
}
.main-menu-container li:hover::before {
  transform: scaleX(1);
}
.main-menu-container li:hover path {
  fill: #001021;
}
.main-menu-container li:hover span {
  opacity: 0.999;
}
.main-menu-container li:hover a {
  color: #001021 !important;
}
main {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #F8F8F8;
  box-sizing: border-box;
}
.main-container {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 0;
  position: relative;
}
@media (max-width: 1024px) {
  .main-container {
    padding-left: 40px;
  }
}
@media (max-width: 800px) {
  .main-container {
    padding-left: 0;
    padding-top: 100px;
  }
}
header {
  width: 100%;
  height: 43px;
  background: #fff;
  box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.03);
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  justify-content: space-between;
}
header .header-logo-container {
  display: flex;
  align-items: center;
}
header .header-logo-container .sidebar-title {
  bottom: 0;
  font-size: 14px;
}
@media (max-width: 500px) {
  header .header-logo-container .sidebar-title {
    display: none;
  }
}
header .header-controls-container span {
  padding: 0 15px;
  border-right: 1px solid rgba(178, 183, 188, 0.4);
}
header .header-controls-container span:last-child {
  border-right: 0;
  padding-right: 0;
}
header .header-controls-container .header-icons-container svg {
  margin-right: 10px;
  cursor: pointer;
  width: 17px;
  position: relative;
  top: 3px;
}
.content-wrapper {
  margin-top: 30px;
}
.flex-horizontal,
.flex-wrap {
  display: flex;
  justify-content: space-between;
}
.flex-horizontal.flex-wrap,
.flex-wrap.flex-wrap {
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .flex-horizontal.flex-horizontal,
  .flex-wrap.flex-horizontal {
    flex-direction: column;
  }
}
.regular-block,
.study-theme-block,
.regular-block-full {
  width: 48%;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  background: #fff;
  margin-top: 42px;
  box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.03);
}
.regular-block.dark-block,
.study-theme-block.dark-block,
.regular-block-full.dark-block {
  background: linear-gradient(138deg, #001021 0%, #2a323a 100%);
}
.regular-block.study-theme-block,
.study-theme-block.study-theme-block,
.regular-block-full.study-theme-block {
  width: 100%;
  max-height: 260px;
}
@media (max-width: 1368px) {
  .regular-block.study-theme-block,
  .study-theme-block.study-theme-block,
  .regular-block-full.study-theme-block {
    max-height: 800px;
    padding-bottom: 10px;
  }
}
.regular-block-full,
.study-theme-block-full,
.regular-block-full-full {
  width: 100%;
}
@media (max-width: 1024px) {
  .regular-block,
  .study-theme-block,
  .regular-block-full {
    width: 100%;
  }
}
.study-theme-block-header {
  display: flex;
  align-items: center;
}
.study-theme-block-header .study-theme-done {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: rgba(178, 183, 188, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.study-theme-block-header .study-theme-line {
  width: 70%;
  margin-left: 10px;
  height: 1px;
  background: rgba(178, 183, 188, 0.3);
}
@media (max-width: 1368px) {
  .study-theme-block-header .study-theme-line {
    width: 55%;
  }
}
@media (max-width: 1033px) {
  .study-theme-block-header .study-theme-line {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .study-theme-block-header .study-theme-line {
    display: none;
  }
}
.study-theme-block-body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.study-theme-block-body ul li {
  display: inline-block;
  width: 30%;
  margin:7px;
  padding:10px;
  background:#F8F8F8;
  border:1px solid #EBEDEE;
}
.study-theme-block-body ul li a{
  display:block;
  width:100%;
  height:100%;
}
@media (max-width: 800px) {
  .study-theme-block-body ul li {
    width: auto;
  }
}
.no-bg-container > h3 + p,
.regular-block > h3 + p {
  margin-top: 3px;
  opacity: 0.7;
}
.welcome-container {
  position: relative;
}
@media (max-width: 1280px) {
  .welcome-container {
    width: 70%;
    margin-right: 10px;
  }
}
@media (max-width: 1024px) {
  .welcome-container {
    width: 100%;
  }
}
.welcome-container img {
  position: absolute;
  right: 25px;
  bottom: -25px;
}
@media (max-width: 1368px) {
  .welcome-container img {
    width: 180px;
    right: 15px;
  }
}
@media (max-width: 500px) {
  .welcome-container img {
    display: none;
  }
}
.main-incofmration-container {
  display: flex;
}
.main-incofmration-container > div {
  margin-left: 60px;
}
.main-incofmration-container > div:first-child {
  margin-left: 0;
}
.no-bg-container {
  margin-top: 42px;
  width: 100%;
}
.no-bg-container .flex-horizontal,
.no-bg-container .regular-block {
  margin-top: 5px;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.03);
}
table tr:first-of-type {
  background: linear-gradient(138deg, #001021 0%, #2a323a 100%);
}
.cke_dialog_body tr td{
  background:#fff;
}
table tr {
  background: #fff;
  border-bottom: 1px solid rgba(178, 183, 188, 0.2);
  transition:.2s;
}
table tr:hover:not(:first-of-type) {
  background: #E6E6E6;
}
table tr:first-of-type {
  border-bottom: 0;
}
table tr:first-of-type th:first-of-type {
  border-radius: 10px 0 0 0;
}
table tr:first-of-type th:last-of-type {
  border-radius: 0 10px 0 0;
}
table tr:last-of-type {
  border-bottom: 0;
}
table tr:last-of-type td:first-of-type {
  border-radius: 0 0 0 10px;
}
table tr:last-of-type td:last-of-type {
  border-radius: 0 0 10px 0;
}
table th {
  font-family: NunitoRegular;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  text-align: left;
}
table td {
  color: #001021;
  font-family: RalewayLight;
  transition:.2s;
  transform-origin: top;
  transform: scaleX(0);
  animation: .2s showTable;
  animation-fill-mode: forwards;
}
table td a + a {
  margin-left: 10px;
}
table th,
table td {
  padding: 15px 0;
  padding-left: 20px;
}
a:not(.non-dec) {
  transition: 0.3s;
}
a:not(.non-dec):hover {
  color: #B10640;
}
.table-container {
  overflow: auto;
  max-width: 100%;
}
.table-container.half-screen {
  width: 48%;
}
@media (max-width: 1024px) {
  .table-container.half-screen {
    width: 100%;
  }
}
.chart-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.chart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-item small {
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 5px;
}
.chart {
  width: 35px;
  height: 190px;
  background: #273340;
  position: relative;
}
.chart-horizontal {
  height: 35px;
  width: 250px;
  margin-top: 25px;
}
@media (min-width: 1900px) {
  .chart-horizontal {
    width: 400px;
  }
}
@media (max-width: 1280px) {
  .chart-horizontal {
    display: none;
  }
}
.chart-horizontal:first-child {
  margin-top: 0;
}
.chart-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(138deg, #0688b1 0%, #0645b1 100%);
  box-shadow: -1px 5px 25px 0px rgba(6, 136, 177, 0.72);
}
.chart-fill-horizontal {
  height: 100%;
  width: 0;
}
.calendar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .calendar-container {
    flex-wrap: wrap;
  }
}
.calendar-container .calendar-item {
  width: 30%;
  box-shadow: 0px 3px 16px 0px rgba(50, 50, 50, 0.08);
  box-sizing: border-box;
  padding: 30px 10px;
  height: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .calendar-container .calendar-item {
    width: 45%;
  }
}
.calendar-container .calendar-item .calendar-day {
  color: #001021;
  font-size: 36px;
  font-family: NunitoRegular;
  opacity: 0.3;
}
.calendar-container .calendar-item .calendar-date {
  margin-left: 20px;
  color: #001021;
  font-family: NunitoRegular;
  opacity: 0.3;
}
.calendar-container .calendar-item.active-day {
  background: linear-gradient(138deg, #b10640 0%, #b10661 100%);
}
.calendar-container .calendar-item.active-day .calendar-day {
  color: #fff;
  opacity: 1;
}
.calendar-container .calendar-item.active-day .calendar-date {
  color: #fff;
  opacity: 1;
}
.table-of-contents{
  padding:10px;
}
.table-of-contents li{
  list-style-type: none;
  list-style-image: none !important;
  margin-top:5px;
  margin-bottom:5px;
}
.table-of-contents li:before{
  content:'';
  display:inline-block;
  width:8px;
  height:8px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.table-of-contents li a{
  font-weight:400;
  margin-left:6px;
}

.redFrame:before{
  background:#b10661;
}
.darkFrame:before{
  background:#001021;
}
.lightFrame:before{
  background:#001021;
  opacity:.7;
}
.darkFrame{
  margin-left:20px;
}
.lightFrame{
  margin-left:35px;
}
.lf5{
  margin-left:55px;
}
.lf6{
  margin-left:75px;
}


.content p {
  line-height: 30px;
  color: #001021;
}
.content p + p {
  padding-top: 10px;
}
.content h1, .content h2, .content h3, .content h4, .content h5{
  padding:10px 0;
} 
.content h1::before, .content h2::before, .content h3::before, .content h4::before, .content h5::before{
  content:'';
  display:inline-block;
  width:10px;
  height:20px;
  background:url(../images/icons/paragraph.svg);
  background-size:contain;
  padding-right:10px;
  background-repeat: no-repeat;
} 
.content ul li{
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 2 2'><circle r='0.5' /></svg>");
}
.content ul li ul li{
  list-style-image:none;
}
.content li{
  list-style-position: inside;
}
.content hr{
  margin: 10px 0;
  border-top: 1px solid #f8f8f8;
}
.content ul, .content ol{
  margin-left:20px;
}
.content a{
  color:black;
  font-weight: 800; 
  text-decoration:none;
  border-bottom:1px solid #b10661;
}
code, .user-con{
  display: block;
  box-sizing: border-box;
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #EBEDEE;
  color: #001021;
  margin:10px 0px;
}
.user-con-trans{
  overflow: auto;
  margin:10px 0;
}
.user-con{
  overflow-x:auto;
}
code{
  width:52%;
  border:0;
  line-height:10px;
  font-family:monospace;
}
.user-selected-box{
  padding:10px;
  font-family:RalewayLight;
  margin:10px 0;
  border:2px dashed #EBEDEE;
  color: #a3a3a3;
}
.user-text-selected{
  border-radius:100px !important;
  padding:2px 8px !important;
  font-weight:100;
}
.user-important-notice{
  background: #f8f8f8;
  padding:10px 10px 10px 25px;
  font-family:RalewayLight;
  border-left:3px solid #B10640;
  position:relative;
  margin: 10px 0;
  width:50%;
  line-height:30px;
}
details{
  margin: 10px 0;
  font-size:14px;
  font-family:RalewayLight;
}
details li{
  margin-top:5px;
  list-style-position: inside;
}
summary{
  margin-top:8px;
  cursor: pointer;
}
@media(max-width:1024px){
  .user-important-notice{
    width:100%;
  }
  code{
    width:100%;
  }
}
.user-important-notice:before{
  content:"!";
  text-align:center;
  font-family: NunitoRegular;
  color:#fff;
  display:block;
  height:18px;
  width:18px;
  box-sizing: border-box;
  line-height:18px;
  border-radius:150px;
  position:absolute;
  font-size:15px;
  left:-10px;
  top:10px;
  background:#B10640;
}
.code-editor-container {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: space-between;
}
.code-editor-container > div {
  width: 49.3%;
  height: 100%;
  position: relative;
  overflow: auto;
  border: 1px solid #EBEDEE;
}
.code-editor-container #editor {
  height: 100%;
}
.code-editor-container .code-result {
  background: #F8F8F8;
  border: 1px solid #EBEDEE;
  overflow: auto;
  box-sizing: border-box;
}
.editor-disabled {
  display: none;
}
.editor-hint {
  position: absolute;
  z-index: 1000;
  color: #001021;
  opacity: 0.03;
  font-family: RalewayLight;
  top: 40%;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 120px;
  pointer-events: none;
}
.code-result table {
  all: revert;
}
.code-result table tr,
.code-result table td,
.code-result table th {
  all: revert;
}
.code-result h1,
.code-result h2,
.code-result h3,
.code-result h4,
.code-result h5,
.code-result h6,
.code-result small,
.code-result label,
.code-result input,
.code-result big,
.code-result p {
  all: revert;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
}
select.white {
  border-bottom: 1px solid #fff;
}
select.dark {
  border-bottom: 1px solid #001021;
}
.informer-wrapper{
  width:inherit;
  position:fixed;
  bottom:0;
  left:240px;
}
.informer-container{
  width:100%;
  padding:15px;
  box-sizing: border-box;
}
@media(max-width:800px){
  .informer-wrapper{
    left:0;
  }
}
.informer-container.success{
  background:#3FC479;
}
.informer-container.error{
  background:#F5405F;
}
.informer-container.informative{
  background: #3B83CB;
}

.informer-container.close{
  animation: 1s closeInformer;
}

@keyframes closeInformer{
  0%{
    transform:translateX(0);
    opacity:1;
  }
  100%{
    transform:translateX(4000px);
    opacity:0;
  }
}
.form-error-container{
  position:absolute;
}
.form-error-msg{
  color:red;
  font-size:10px;
  position:relative;
  bottom:13px;
}

@keyframes showTable{
  0%{
    transform:scaleY(0);
  }
  100%{
    transform:scaleY(1);
  }
}
.draft{
  color:#B10640;
}
.back-container{
  padding:12px;
  background:#001021;
}
.back-container svg{
  position:relative;
  top:4px;
  right:3px;
  transition:.3s;
}
.back-container:hover svg{
  right:8px;
}
.theme-lock-icon{
  position:relative;
  top:7px;
  margin-right:8px;
}
.study-theme-block-body ul{
  width:100%;
}
.filter{
  cursor:pointer;
}
.tr-hidden{
  display:none;
}
.student-status{
  width:6px;
  height:6px;
  border-radius:200px;
}
.student-status.offline{
  background:gray;
}
.student-status.online{
  background:linear-gradient(138deg, #b10640 0%, #b10661 100%);
}
.table-end{
  text-align:center;
  padding:10px 0;
}